#Generated
__pycache__/

# Unit test and reports
coverage_html_report/
.coverage
.coverage.*

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
MANIFEST

# Installer logs
pip-log.txt